.anuncio_item {
    background-color: #f0f0f0;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid #D1D5DB;
}

.anuncio_meta {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #666;
    margin-top: 10px;
}

.boton_expandir {
    text-align: center;
    margin-top: 20px;
}

.nota_revision {
    text-align: center;
    margin-top: 15px;
    font-size: 12px;
    color: #666;
}

.estado_anuncio {
    font-size: 12px;
    color: #666;
    margin-top: 5px;
}