#mapa {
  height: 580px;
  width: 90%;
  padding: 0 10px;
  margin: 30px;
  border: 2px solid #ccc;
  border-radius: 6px;
}

table {
  width: 100%;
  margin-top: 30px;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}